<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="createMarker()"
        id="addBtn">
        + Agregar
    </li>
    
    <li *ngFor="let marker of markers; let i = index"
        class="list-group-item"
        [ngStyle]="{
            'background-color': marker.color
        }">
        <div class="d-flex justify-content-between">
            <h5 class="mb-1"
                (click)="navigateToMarker(marker)">
                Marker {{ i + 1 }}
            </h5>
            <button type="button"
                (click)="deleteMarker(i)"
                class="btn-close ms-4">
            </button>
        </div>
    </li>
</ul>

<div #mapa class="mapa-container"></div>